body{
    background-color: rgb(1, 1, 63);
    color:whitesmoke;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15% 20%;
    
}
input{
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 15px;
}
button{
    background-color:white; 
    font-size: 20px;
    border-radius: 5px;
    margin-left: 50%;
}
label{
    font-size: 25px;
    margin-bottom: 15px;

}
a:link{
    color:white;
}
a:visited{
color:white;
}
a:active{
background-color:greenyellow;
}
a:hover{
background-color:orange;
}